@font-face {
  font-family: Artsy;
  src: url('art nouveau by Marta van Eck.otf');
}

@font-face {
  font-family: BtnTxt;
  src: url('ROLIRE__.TTF');
}

html {
  position: relative;
  height: 100%;
}

body {
  height: 100%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/abstract3.jpg);
  background-position: center center;

  background-size: cover;

}

footer {
  /* just for demo */

  background-color: black;
  border-top: 2px solid rgb(172, 155, 63);
  text-align: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-left: 10%;
  margin-right: 10%;
  /* position: absolute; */
  left: 0;
  right: 0;
  
  height: 12vmin;
}


/* social media styles on footer */

.social-media-buttons {
  text-align: center;
}

.social-media-button {
  display: inline-block;
  width: 8vmin;
  height: 8vmin;
  border: 2px solid #fff;
  border-radius: 100%;
  position: relative;
  margin-left: 6vmin;
  margin-top: 2vmin;
  cursor: pointer;
  transition: border-radius .25s, transform .5s, border-color 1s;
}

.social-media-button i {
  color: #fff;
  font-size: 4vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: color .5s;
}

.social-media-button:hover {
  border-radius: 10%;
  border-color: rgb(70, 70, 70);
  transform: rotate(360deg);
}

.social-media-button.facebook:hover i {
  color: #3b5998;
}

.social-media-button.instagram:hover i {
  color: #e7c944;
}

.social-media-button.envelope:hover i {
  color: #6e5494;
}

.social-media-button.phone:hover i {
  color: #18dd32;
}


/* main content styles */

.site-content {
  min-height: 100%;
  margin-bottom: -12vmin; /* Equivalent to footer's height */
  padding-bottom: -12vmin; /* Equivalent to footer's height */

  box-sizing: border-box;
  color: rgb(172, 155, 63);
  text-align: justify;
  padding-top: 10%;
  margin-left: 13%;
  margin-right: 13%;
  margin-bottom: 10%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
}

.paragraphs {
  font-size: 4vmin;
  line-height: 1.2;
}

.site-content__headline {
  font-family: Artsy, sans-serif;
  font-size: 8vmin;
  font-weight: 400;
  text-align: center;
  color: rgb(172, 155, 63);
  

}

.menu-icon {
  height: 30px;
  width: 30px;
  position: fixed;
  z-index: 2;
  left: 2%;
  top: 3%;
  cursor: pointer;
}

.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: rgb(172, 155, 63);
  margin-bottom: 4px;
  -webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, background-color .5s ease;
  transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}

.menu-icon__line-left {
  width: 15px;
}

.menu-icon__line-right {
  width: 15px;
  float: right;
}

.nav {
  position: fixed;
  z-index: 1;
}

.nav:before,
.nav:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: -1;
  -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  -webkit-transform: translateX(0%) translateY(-100%);
  transform: translateX(0%) translateY(-100%);
}

.nav:after {
  background: black;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.nav:before {
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

.nav__content {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  font-size: calc(6vmin + 10px);
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  pointer-events: none;
}

.nav-active .nav__content {
  pointer-events: auto;
}

.nav__list-item {
 
  position: relative;
  display: inline-block;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
  opacity: 0;
  -webkit-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
  -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
  transition: opacity .2s ease, -webkit-transform .3s ease;
  transition: opacity .2s ease, transform .3s ease;
  transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
  margin-right: 25px;
}

.nav__list-item:before {
  content: "";
  position: absolute;
  background: #000000;
  width: 20px;
  height: 1px;
  top: 100%;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: -1;
}

.nav__list-item:hover:before {
  width: 100%;
}

body.nav-active .menu-icon__line {
  background-color: white;

  -webkit-transform: translateX(0px) rotate(-45deg);
  transform: translateX(0px) rotate(-45deg);
}

body.nav-active .menu-icon__line-left {
  -webkit-transform: translateX(1px) rotate(45deg);
  transform: translateX(1px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
  -webkit-transform: translateX(-2px) rotate(45deg);
  transform: translateX(-2px) rotate(45deg);
}

body.nav-active .nav {
  visibility: visible;
}

body.nav-active .nav:before,
body.nav-active .nav:after {
  -webkit-transform: translateX(0%) translateY(0%);
  transform: translateX(0%) translateY(0%);
}

body.nav-active .nav:after {
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

body.nav-active .nav:before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

body.nav-active .nav__list-item {
  opacity: 1;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}

body.nav-active .nav__list-item:nth-child(0) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

body.nav-active .nav__list-item:nth-child(1) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

body.nav-active .nav__list-item:nth-child(2) {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

body.nav-active .nav__list-item:nth-child(3) {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

body.nav-active .nav__list-item:nth-child(4) {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

body.nav-active .nav__list-item:nth-child(5) {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}


/* glitch text css */


.glitch {
  position: relative;
  color: white;
  mix-blend-mode: lighten;
}
.glitch:before, .glitch:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  width: 100%;
  background: black;
  clip: rect(0, 0, 0, 0);
}
.glitch:before {
  left: -1px;
  text-shadow: 1px 0 rgba(255, 0, 0, 0.7);
}
.glitch:after {
  left: 1px;
  text-shadow: -1px 0 rgba(0, 0, 255, 0.7);
}
.glitch:hover:before {
  text-shadow: 4px 0 rgba(255, 0, 0, 0.7);
  animation: glitch-loop-1 0.8s infinite ease-in-out alternate-reverse;
}
.glitch:hover:after {
  text-shadow: -5px 0 rgba(0, 0, 255, 0.7);
  animation: glitch-loop-2 0.8s infinite ease-in-out alternate-reverse;
}

@-webkit-keyframes glitch-loop-1 {
  0% {
    clip: rect(36px, 9999px, 9px, 0);
  }
  25% {
    clip: rect(25px, 9999px, 99px, 0);
  }
  50% {
    clip: rect(50px, 9999px, 102px, 0);
  }
  75% {
    clip: rect(30px, 9999px, 92px, 0);
  }
  100% {
    clip: rect(91px, 9999px, 98px, 0);
  }
}

@keyframes glitch-loop-1 {
  0% {
    clip: rect(36px, 9999px, 9px, 0);
  }
  25% {
    clip: rect(25px, 9999px, 99px, 0);
  }
  50% {
    clip: rect(50px, 9999px, 102px, 0);
  }
  75% {
    clip: rect(30px, 9999px, 92px, 0);
  }
  100% {
    clip: rect(91px, 9999px, 98px, 0);
  }
}
@-webkit-keyframes glitch-loop-2 {
  0% {
    top: -1px;
    left: 1px;
    clip: rect(65px, 9999px, 119px, 0);
  }
  25% {
    top: -6px;
    left: 4px;
    clip: rect(79px, 9999px, 19px, 0);
  }
  50% {
    top: -3px;
    left: 2px;
    clip: rect(68px, 9999px, 11px, 0);
  }
  75% {
    top: 0px;
    left: -4px;
    clip: rect(95px, 9999px, 53px, 0);
  }
  100% {
    top: -1px;
    left: -1px;
    clip: rect(31px, 9999px, 149px, 0);
  }
}
@keyframes glitch-loop-2 {
  0% {
    top: -1px;
    left: 1px;
    clip: rect(65px, 9999px, 119px, 0);
  }
  25% {
    top: -6px;
    left: 4px;
    clip: rect(79px, 9999px, 19px, 0);
  }
  50% {
    top: -3px;
    left: 2px;
    clip: rect(68px, 9999px, 11px, 0);
  }
  75% {
    top: 0px;
    left: -4px;
    clip: rect(95px, 9999px, 53px, 0);
  }
  100% {
    top: -1px;
    left: -1px;
    clip: rect(31px, 9999px, 149px, 0);
  }
}
