/* cards with stretch to 100% width by default, so set width or max-width to constrain the card's width */

.card{

    margin-bottom: 30px;
}

.card-body {
    background-color: black !important;
}

.card-title {
    margin: 0;
    color: whitesmoke;
    font-size: 14px;
    
}

.card-text{
    color: whitesmoke;
    font-size: 10px;
    
}

.price-availability{
    margin-top: 8px;
    margin-bottom: 0;
    color: whitesmoke;
    font-size: 12px;

}


.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

.nav-active .site-content *{
    
    height: 0 !important;
    width: 0 !important;
    padding: 0  !important;
    margin: 0 !important;
    font-size: 0;

    cursor: none !important;
    pointer-events: none !important;
}

