/* cards with stretch to 100% width by default, so set width or max-width to constrain the card's width */
.card {
    max-width: 350px;
   
  }
  .card-body{
      background-color: black !important;
      color: black !important;
     
  }  

 .card-title{
     margin: 0;
     padding: 10px;
     color: whitesmoke;
 }